@page "/"

@inject ModalWindowService _modal
@inject WindowConfirmationServices _confirm
@inject WindowAlertServices _alert

<button @onclick="ModalCall">Modal</button>
<button @onclick="AlertCall">Alert</button>
<button @onclick="ConfirmCall">Confirm</button>

@code {
    void ModalCall()
    {
        _modal.Show<string, object>(typeof(ModalContenr), "", null, "custom-container-class");
    }

    void AlertCall()
    {
        _alert.Show(() => { var a = 1; }, "Message", "Title", "Хорошо");
    }

    void ConfirmCall()
    {
        _confirm.Show(() => { var a = 1; }, "Message", () => { var a = 2; }, "Title", "Хорошо", "Не хорошо");
    }
}