@page "/"

@inject ModalWindowService _modal
@inject WindowConfirmationServices _confirm
@inject WindowAlertServices _alert

<button @onclick="ModalCall">Modal</button>
<button @onclick="AlertCall">Alert</button>
<button @onclick="ConfirmCall">Confirm</button> 

@code {
    Task ModalCall()
    {
        return _modal.Show<string, object>(typeof(ModalContenr), "", null, "custom-container-class");
    }

    Task AlertCall()
    {
        return _alert.Show(async () =>
        {
            var a = 1;
        }, "Message", "Title1", "Хорошо");
    }

    Task ConfirmCall()
    {
        return _confirm.Show(async () =>
        {
            var a = 1;
        }, "Message", async () =>
        {
            var a = 2;
        }, "Title", "Хорошо", "Не хорошо");
    }
}