@inherits BaseWindowWithContainerCode<WindowAlertServices, WindowAlertModel>

<BaseWindowWithContainerComponent Title="@Model?.Title"
                                  ContainerClass="@ContainerClass"
                                  Service="_modalService"
                                  ShowTitle="ShowTitle"
                                  TModel="WindowAlertModel">
    <p>
        @(Model?.Message)
    </p>
    <button class="btn btn-primary" @onclick="ClickOk">@(Model?.ButtonOkText ?? "Ok")</button>
</BaseWindowWithContainerComponent>

@code {
    void ClickOk()
    {
        Model.ActionOk?.Invoke();
        _modalService.Close().Wait();
    }
}